{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
  ],
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "rules": {
  }
}